@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	--text-color: #333;
	--background-color: #363dc2;
	--background-color-2: #282faf;
	--background-color-3: #202692;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	color: #333;
	color: var(--text-color);
	background-color: #fcfcfc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	line-height: 2;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}

.text-green {
	color: #098D45;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--background-color-3);
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content-wrap.dark-text p,
.content-wrap.dark-text h3 {
	color: #333;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	/*grid-template-columns: 300px 300px 300px 300px; */
	grid-template-rows: auto auto auto;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
	padding: 2rem;
	max-width: 1000px;
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	/*height: 100vh;*/
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 300px;
	height: 300px;
}

.content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 4em;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
	font-size: 24px;
}

.content__signup {
	grid-area: signup;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
	font-size: 24px;
}

.content__cta {
	grid-area: cta;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.content__cta a {
	/*color: var(--background-color-3);*/
	color: #6c2b86;

/*	background: var(--background-color-3);
	padding: 1rem;*/
}

.content__cta a:hover {
	color: #592170;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

.content__info.team {
  grid-column: 1 / 7;
}

.content__info.email {
	font-size: 20px;
	margin-bottom: 0;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	width: 100%;
	max-width: 250px;
	opacity: 0.9;
	transition: opacity 0.3s;
	border-radius: 100%;
}

.content__related-info {
	max-width: 300px;
	text-align: justify;
	color: #333;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1.2em;
	margin: 0;
	padding: 0.5em;
	text-align: center;
	color: #333;
}

.content__related-subtitle {
	font-size: 1em;
	margin: 0;
	padding: 0 0.5em 0;
	text-align: center;
	color: #333;
}

.btn-cta {
	color: #fff !important;
	background-color: #098D45;
	padding: 1rem;
	border-radius: 10px;
	font-size: 20px;
}

/* Different layouts */

/* layout-2 */
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"... desc desc desc"
							" ...desc desc desc";
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: left;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__author {
	justify-self: end;
	align-self: start;
}

/* layout-3 */
.content--layout-3 {
	/*grid-template-rows: 150px auto 150px;*/
	grid-template-areas:	
		"... title title title"
		"... desc desc desc" 
		"... signup signup signup"
		"... cta cta cta";

		/*"... ... desc desc"
		"author title title title"
		"author ... link link";*/
}

@media screen and (min-width: 45em) {
	.content--layout-3 {
		grid-template-rows: auto auto auto; /*100px 250px 150px*/
	}
}


.content--layout-3 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.content--layout-3 .content__desc {
	text-align: left;
	/*align-self: end;*/
}

.content--layout-3 .content__signup {
	align-self: end;
}


/* layout-4 */

.content--layout-4 {
	grid-template-areas:	
		"... title title title"
		"... desc desc desc"
		"... desc desc desc";
}

.content--layout-4 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
}

.logo {
    width: 80px;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    text-indent: -9999px;
    padding: 0 !important;
}

.menu ul li {
	display: inline-block;
}

/* MENU */

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  display: block;
  padding: 1rem;
  background: #fff;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 13px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
	.header {
		background: none;
  	padding: 1.5rem 2rem;
	}

	.logo {
		width: 150px;
	}
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
 

/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
}

.demo {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0.5em 0;
	padding: 1em;
}

.demo .decoshape {
	display: none;
}

.demo--current {
	color: var(--link-hover-color);
	border-color: currentColor;
}

.demo--current .decoshape {
	display: block;
	z-index: -1;
}

/* Deco elements */
.deco {
	pointer-events: none;
}

.deco--title {
	grid-area: decotitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em 0 0;
    text-align: center;
    white-space: nowrap;
}

.codrops-icon {
	position: relative;
	display: inline-block;
	padding: 0.75em 0.75em 1em;
}

/* Demo themes */
.beok-body {
	--background-color: #c2a8cd;
	--background-color-2: #c2a8cd;
	--background-color-3: #098D45	;
	--text-color: #333;
	--link-color: #6C2B86;
	--link-hover-color: #333;
}

.text-center {
	text-align: center !important;
}

@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.codrops-header {
		align-items: center;
		flex-direction: column;
	}
	.deco--title {
		display: none;
	}
	.demos {
		text-align: center;
	}

	.content--related {
		display: block !important; 
	}
	.content__related-item {
		width: 100% !important;
	}

	.content__related-img {
		max-width: 200px;
		margin: 0 auto;
	}

	.content__related-title,
	.content__related-subtitle {
		text-align: center;
	}

	.content__related-info {
		margin: 10px auto 20px auto;
	}

	main {
		overflow: auto;
	}

	#advisors {
    margin-bottom: 80px;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
		margin-top: 60px;
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		/*transform: scale3d(0.7,0.7,1);*/
	}
	.content--layout-1 {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		/*transform: scale3d(0.6,0.6,1);*/
	}
	.content--layout-1 {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link,
	.content__cta {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		/*transform: scale3d(0.5,0.5,1);*/
	}
	.content--layout-1 {
		/*transform: scale3d(0.5,0.5,1);*/
	}
}

/*.sticky-container {
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -119px;
	top: 130px;
	width: 200px;
}
.sticky li {
	list-style-type: none;
	background-color: #333;
	color: #efefef;
	height: 43px;
	padding: 0px;
	margin: 0px 0px 1px 0px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}
.sticky li:hover {
	margin-left: -115px;
	-webkit-transform: translateX(-115px);
	-moz-transform: translateX(-115px);
	-o-transform: translateX(-115px);
	-ms-transform: translateX(-115px);
	transform:translateX(-115px);
	background-color: #8e44ad;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(0%);
}
.sticky li img {
	float: left;
	margin: 5px 5px;
	margin-right: 10px;
}
.sticky li p {
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	line-height: 43px;
}
.content {
	margin-top: 150px;
	margin-left: 100px;
	width: 700px;
}

p.credit {
	padding-top: 20px;
	font-size: 12px;
}
p a {
	color: #ecf0f1;
}
.fork {
	position: absolute;
	top: 0px;
	left: 0px;
}*/

.covid-announcement {
	background-color: #098D45;
	padding: 1rem;
	width: 100%;
	z-index: 99999999;
	position: relative;
	text-align: center;
	color: #fff;
	position: fixed;
	height: 70px;
}

.covid-announcement a {
	color: #fff;
	font-weight: bold;
}

header.header {
	margin-top: 70px;
}

.header {
	padding: 0.5rem 1rem;
}

@media (min-width: 48em) {
	.covid-announcement {
		height: auto;
	}
}

